*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#021107;
    color:white;
    overflow:hidden;
}

/* BACKGROUND */
body::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:
    radial-gradient(circle at center,
    rgba(0,255,100,0.08),
    transparent 70%);
    z-index:-1;
}

/* HEADER */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
}

.logo h1{
    font-size:70px;
    line-height:70px;
    font-weight:bold;
}

.logo span{
    color:#9cff00;
}

.subtitle{
    font-size:24px;
    color:#ddd;
    margin-top:10px;
}

/* CLOCK */
.clock-box{
    background:#071b0d;
    border:2px solid #9cff00;
    border-radius:20px;
    padding:20px 40px;
    text-align:center;
    box-shadow:0 0 20px #00ff88;
}

.clock{
    font-size:110px;
    color:#9cff00;
    font-weight:bold;
}

.wib{
    font-size:30px;
}

/* CONTENT */
.container{
    display:flex;
    gap:20px;
    padding:20px;
}

/* CARD */
.card{
    flex:1;
    background:#06150b;
    border:2px solid #9cff00;
    border-radius:20px;
    padding:20px;
    box-shadow:0 0 20px rgba(0,255,100,0.2);
}

/* TITLE */
.card h2{
    font-size:40px;
    margin-bottom:20px;
    color:white;
}

/* SHOLAT */
.sholat-item{
    display:flex;
    justify-content:space-between;
    padding:20px;
    margin-bottom:15px;
    background:#0b2211;
    border-radius:15px;
    font-size:35px;
    border:1px solid rgba(0,255,100,0.3);
}

.sholat-item span{
    color:#ffc400;
    font-weight:bold;
}

/* INFO */
.info-item{
    margin-bottom:25px;
    padding:20px;
    background:#0b2211;
    border-radius:15px;
}

.info-item h3{
    color:#9cff00;
    margin-bottom:10px;
    font-size:35px;
}

.info-item p{
    font-size:28px;
    color:#ddd;
}

/* RUNNING TEXT */
.marquee{
    width:100%;
    background:#000;
    color:#fff;
    padding:15px;
    position:absolute;
    bottom:0;
    font-size:32px;
    border-top:2px solid #9cff00;
}

.marquee span{
    color:#ffc400;
}
