/* ===================================================== */
/* FILE : style.css                                      */
/* ===================================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#021107;
    color:white;
    overflow-x:hidden;
    padding-bottom:80px;
}

/* BACKGROUND */
body::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:
    radial-gradient(circle at center,
    rgba(0,255,100,0.08),
    transparent 70%);
    z-index:-1;
}

/* HEADER */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
}

.logo-area{
    display:flex;
    align-items:center;
    gap:20px;
}

.logo-img{
    width:90px;
    height:90px;
    object-fit:contain;
    filter:drop-shadow(0 0 10px #7CFC00);
}

.logo h1{
    font-size:45px;
    line-height:45px;
    font-weight:bold;
}

.logo span{
    color:#9cff00;
}

.subtitle{
    font-size:20px;
    color:#ddd;
    margin-top:10px;
}

/* CLOCK */
.clock-box{
    background:#071b0d;
    border:2px solid #9cff00;
    border-radius:20px;
    padding:20px 40px;
    text-align:center;
    box-shadow:0 0 20px #00ff88;
}

.clock{
    font-size:75px;
    color:#9cff00;
    font-weight:bold;
}

.wib{
    font-size:20px;
}

/* CONTENT */
.container{
    display:flex;
    gap:20px;
    padding:20px;
}

/* CARD */
.card{
    flex:1;
    background:#06150b;
    border:2px solid #9cff00;
    border-radius:20px;
    padding:20px;
    box-shadow:0 0 20px rgba(0,255,100,0.2);
}

/* TITLE */
.card h2{
    font-size:28px;
    margin-bottom:20px;
    color:white;
}

/* SHOLAT */
.sholat-item{
    display:flex;
    justify-content:space-between;
    padding:15px;
    margin-bottom:10px;
    background:#0b2211;
    border-radius:15px;
    font-size:24px;
    border:1px solid rgba(0,255,100,0.3);
}

.sholat-item span{
    color:#ffc400;
    font-weight:bold;
}

/* IQOMAH */
.iqomah-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#012b12;
    border:1px solid #00ff66;
    border-radius:15px;
    padding:15px 20px;
    margin-top:15px;
}

.iqomah-item .nama{
    font-size:24px;
    font-weight:bold;
    color:white;
}

.iqomah-item small{
    display:block;
    color:#aaa;
    font-size:14px;
    margin-top:5px;
}

.countdown{
    font-size:35px;
    font-weight:bold;
    color:#ffe600;
}

/* INFO */
.info-item{
    margin-bottom:25px;
    padding:20px;
    background:#0b2211;
    border-radius:15px;
}

.info-item h3{
    color:#9cff00;
    margin-bottom:10px;
    font-size:24px;
}

.info-item p{
    font-size:18px;
    color:#ddd;
}

/* KAS */
.kas-box{
    display:flex;
    gap:15px;
    margin-top:15px;
}

.masuk,
.keluar{
    flex:1;
    padding:15px;
    border-radius:15px;
    background:rgba(255,255,255,0.05);
    text-align:center;
}

.masuk{
    border:2px solid #00ff88;
}

.keluar{
    border:2px solid #ff4444;
}

.masuk span,
.keluar span{
    display:block;
    font-size:18px;
    margin-bottom:8px;
}

.masuk strong{
    color:#00ff88;
    font-size:22px;
}

.keluar strong{
    color:#ff5555;
    font-size:22px;
}

/* RUNNING TEXT */
.marquee{
    width:100%;
    background:#000;
    color:#fff;
    padding:15px;
    position:fixed;
    bottom:0;
    font-size:20px;
    border-top:2px solid #9cff00;
}

.marquee span{
    color:#ffc400;
}

/* RESPONSIVE */
@media(max-width:1200px){

.container{
    flex-direction:column;
}

.header{
    flex-direction:column;
    gap:20px;
}

.clock{
    font-size:60px;
}

.logo h1{
    font-size:40px;
}

}
