*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#001a0f;
    color:white;
    overflow:hidden;
}

.container{
    width:100%;
    height:100vh;
    padding:15px;
    display:flex;
    flex-direction:column;
}

/* =========================
HEADER
========================= */

.top{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    margin-bottom:15px;
}

.logo-area h1{
    font-size:58px;
    font-weight:bold;
}

.logo-area span{
    color:#9cff00;
}

.logo-area p{
    font-size:22px;
    margin-top:8px;
}

.clock-box{
    width:420px;
    border:3px solid #9cff00;
    border-radius:25px;
    text-align:center;
    padding:20px;
    background:#01210f;
    box-shadow:0 0 25px #00ff88;
}

#clock{
    font-size:85px;
    color:#9cff00;
    font-weight:bold;
}

.clock-box p{
    margin-top:10px;
    font-size:22px;
}

/* =========================
CONTENT
========================= */

.content{
    display:flex;
    gap:15px;
    flex:1;
}

/* =========================
LEFT
========================= */

.left{
    flex:1;
    border:3px solid #9cff00;
    border-radius:25px;
    padding:20px;
}

.left h2{
    font-size:42px;
    margin-bottom:20px;
}

.sholat{
    background:#012b15;
    border:1px solid #00aa55;
    border-radius:20px;
    padding:18px 25px;
    margin-bottom:15px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    font-size:28px;
}

.jam{
    color:#ffd000;
    font-weight:bold;
}

/* =========================
IQOMAH
========================= */

.iqomah-box{
    margin-top:15px;
    background:#021f10;
    border:2px solid #00ff88;
    border-radius:20px;
    padding:18px;
    text-align:center;
}

.iqomah-title{
    font-size:28px;
    color:#9cff00;
    margin-bottom:10px;
}

#iqomah{
    font-size:55px;
    font-weight:bold;
    color:#ffffff;
}

/* =========================
RIGHT
========================= */

.right{
    flex:1;
    border:3px solid #9cff00;
    border-radius:25px;
    padding:20px;
}

.right h2{
    font-size:42px;
    margin-bottom:20px;
}

.info-box{
    background:#012b15;
    border-radius:20px;
    padding:18px;
    margin-bottom:18px;
}

.info-box h3{
    color:#9cff00;
    font-size:26px;
    margin-bottom:10px;
}

.info-box p{
    font-size:18px;
    line-height:1.5;
}

.kas{
    font-size:42px;
    font-weight:bold;
    margin:10px 0;
}

/* =========================
RUNNING TEXT
========================= */

.marquee{
    margin-top:12px;
    background:black;
    border-top:2px solid #9cff00;
    padding:10px;
    font-size:20px;
    color:white;
}

.marquee span{
    color:#ffd000;
    font-weight:bold;
}

/* =========================
LOGO
========================= */

.logo{
    width:90px;
    margin-bottom:10px;
}
